h1{
    color: rgb(26, 51, 245);
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    background: url(./a19.jpg) no-repeat fixed;
    background-size: cover;
}

img{
    margin-top: 10px;
    width: 120px;
    height: 120px;
    margin-left: 10px;
    transition: 0.5s;
}

img:hover{
    width: 40%;
    height: 40%;
    margin-top: 0px;

}

header{
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 9em;
    height: 9em;
    border-radius: 100%;
    border: 2px solid lightcoral;
    box-shadow: rgb(242, 255, 0) 0px 2px 8px 0px;
}

header > h1 {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    border-radius: 2em;
    background-color: rgb(30, 31, 26);
    color: rgb(114, 251, 118) ;
    padding: 0.3em 0.6em;
    border: 2px solid rgb(225, 240, 128);
    transition: 0.5s;
}

h1:hover{
    color: black;
    background-color: whitesmoke;
    border-radius: 2em;
    border: 2px solid green;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
}

ul > li {
    background-color: rgb(253, 133, 171);
    border-radius: 1em;
    padding: 0.5;
    margin: 1em 20px;
    align-items: center;
    display: flex;
    display: inline-block;
    transition: 0.5s;
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0.6em;
    
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    padding: 5px;
    width: 150px;
    
}

li:hover {
    background-color: lightpink;
    border-radius: 1em;
    padding: 0.5;
}

a:hover{
    color: black;
}

ul {
    text-align: center;
    padding: auto;
    
}

fieldset{
    text-align: center;
    align-items: center;
}

table, th {
    border: 1px solid none;
    padding: 5px;
    font-size: 18px;
    color: rgb(10, 35, 157);
}

table {
    border-spacing: 10px;
}